<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Homepage</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>D&D Interactive</h1>
            <a href="characters.html">Characters</a></li>
            <a href="dice.html">Dice</a></li>
            <a href="journal.html">Journal</a>
            <a href="npnGenerator.html">NPC Generator</a></li>
            <a href="gameTables.html">Game Tables</a></li>
            <a href="editCharacter.html">Edit Character</a></li>
        </div>
    </header>

    <main id="content">
        <div>
            <h1>Welcome to the D&D Interactive Website</h1>
            <p>Track your characters, roll dice, and take notes!</p>
        </div>
    </main>

    <script src="../public/script.js"></script>
</body>
</html>
