* {
  font: 1.3rem 'Arial', sans-serif;
}

body {
  background: url(images/background.jpg);
  background-size: cover;
  
}

div {
  display: block;
  background-color: #f0e68c;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 15px 15px auto;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
}

div.npc li {
  display: block;
  padding: 5px 0; 
}


button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 140px;
  height: 50px;
  background-color: #ad151a;
  border: none;
  color: white;
  font-size: 1.1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #d03237;
  scale: 1.1 ;
}

button#NPC {
  height: 80px;
}


.dice-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.clickable {
  cursor: pointer;
  transform: scale(1.1);
}

#profile {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-top: 20px;
  height: 60px;
  width: 60px;
  position: fixed;
  top: 10px; 
  right: 40px;
}

#profile:hover {
  background-color: #ad151a;
  border-radius: 50px;
  scale: 1.1 ;
}

p {
  font-size: 1.4rem;
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #ad151a;
}

h1.npc {
  font-size: 2.0rem;
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #ad151a;
}

button#header { 
  display: inline-block;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: #ad151a;
  color: white;
  font-size: 1.0rem;
  text-align: center;
  /* line-height: 45px; */
  white-space: nowrap;
  width: 160px;
  height: 60px;
  cursor: pointer;
}

a:hover {
  background-color: #d03237;
  scale: 1.1 ;
}

div.login-container {
  display: block;
  margin: auto auto;
  height: 500px;
}

div.form-group {
  display: block;
  margin: 10px 10px;
  padding: 10px;
  background-color: #add8e6;
  border-radius: 10px;
  width: 40%;
  margin-right:auto;
  margin-left:auto;
}


footer {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
}

footer a {
  color: white;
}

/* Centering <li> tags */
ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 0 10px;
}